# Source: unguard/templates/ad-service.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unguard-ad-service
  labels:
    app.kubernetes.io/name: ad-service
    app.kubernetes.io/part-of: unguard
    l: 2
    
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: ad-service
      app.kubernetes.io/part-of: unguard
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ad-service
        app.kubernetes.io/part-of: unguard
        
    spec:
      containers:
        - name: ad-service
          image: ghcr.io/dynatrace-oss/unguard/unguard-ad-service:0.9.4
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"
            - name: SERVER_PORT
              value: "8082"
            - name: API_PATH
              value: "/ad-service"
            - name: USER_AUTH_SERVICE_ADDRESS
              value: "unguard-user-auth-service"
            - name: JAEGER_SERVICE_NAME
              value: "unguard-ad-service"
            - name: JAEGER_AGENT_HOST
              value: "jaeger-agent"
            - name: JAEGER_SAMPLER_TYPE
              value: "const"
            - name: JAEGER_SAMPLER_PARAM
              value: "0"
            - name: JAEGER_DISABLED
              value: "true"
---
# Source: unguard/templates/envoy-proxy.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unguard-envoy-proxy
  labels:
    app.kubernetes.io/name: envoy-proxy
    app.kubernetes.io/part-of: unguard
    
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: envoy-proxy
      app.kubernetes.io/part-of: unguard
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: envoy-proxy
        app.kubernetes.io/part-of: unguard
        
    spec:
      containers:
        - name: envoy-proxy
          image: ghcr.io/dynatrace-oss/unguard/unguard-envoy-proxy:0.9.4
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
            - containerPort: 8081
              name: health
